.container {
  padding: 0px 86px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 67px;
  gap: 62px;
}

.logo {
  width: 24%;
}

.logo > img {
  width: 100%;
}

.nav-bar > a {
  text-decoration: none;
  color: #c4c4c4;
}

.nav-bar > a:nth-child(1) {
  color: #000000;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #c4c4c4;
}

.socialmedia-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(99.11deg, #d5904e -12.56%, #7d5d3f 158.17%);
  border-radius: 10px;
  gap: 17px;
  padding: 0px 15px;
}

.socialmedia-tabs > a > img {
  width: 30.76px;
}

.hamburger-button {
  display: none;
}
