.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-pic {
  width: 87%;
}

.landing-page-pic > img {
  width: 100%;
}

.sliders {
  display: flex;
  justify-content: center;
  gap: 16.81px;
}

.small-sliders {
  display: flex;
  gap: 7.84px;
}

.slide {
  width: 63.87px;
  height: 21px;
  border: 2px solid #4e4e4e;
  border-radius: 30px;
  cursor: pointer;
}

.wide-slide {
  width: 132.22px;
  height: 24px;
  border-radius: 30px;
  background-color: #cf9246;
}
